.bigBoard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.child{
    height: 21vh;
    width: 21vh;
    position: relative;
}

.one,.two,.three,.four,.five,.six{
    border-bottom: 1px solid black;
}

.one,.two,.four,.five,.seven,.eight{
    border-right: 1px solid black;
}

.smallBoard-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 2vh;
    position: absolute;
}

.childchild{
    height: calc(17vh/3);
    width: calc(17vh/3);
    /* background-color: purple; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    transition: all 0.2s ease-in-out;
}

/* .childchild:hover{
    background-color: #77ff8e;
} */

.vacant:hover{
    background-color: #77ff8e;
}

.occupied:hover{
    background-color: #ff3a3a;;
}

.endgame:hover{
    background-color: none;
}

.marker{
    font-size: 4vh;
    pointer-events: none
}

.blur {
    filter: blur(4px);
  }

.win{
    position: absolute;
    height: 20vh;
    width: 20vh;
    font-size: 20vh;
    color: #ff3a3a;
    line-height: 70%;
    display: none;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    animation: fadeIn 1s;
    padding: 2vh;
}

    @keyframes fadeIn {
        from {
          opacity: 0;
        }
      
        to{
          opacity: 1;
        }
      }


