.bigBoard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
}

.child{
    height: 21vh;
    width: 21vh;
    position: relative;
}

.childchild{
    height: 5.6vh;
    width: 5.6vh;
    /* background-color: purple; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    transition: background-color 0.15s ease-in-out;
}

.smallBoard-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 2vh;
    position: absolute;
}

.reset-button {
    outline: none;
    border: 4px solid ;
    padding: 10px 10px;
    font-size: 1rem;
    font-weight: bold;
    background: none;
    transition: all 0.2s ease-in-out;
    border-radius: 7.5px;
  }
  
  .reset-button:hover {
    cursor: pointer;
    background: #000000;
    color: white;
  }

.zero,.one,.two,.three,.four,.five{
    border-bottom: 1px solid #000000;
}

.zeroThick,.oneThick,.twoThick,.threeThick,.fourThick,.fiveThick{
    border-bottom: 3px solid #000000;
}

.zero,.one,.three,.four,.six,.seven{
    border-right: 1px solid #000000;
}

.zeroThick,.oneThick,.threeThick,.fourThick,.sixThick,.sevenThick{
    border-right: 3px solid #000000;
}

.zero{
    border-radius: 10px 0px 0px 0px;
}

.two{
    border-radius: 0px 10px 0px 0px;
}

.six{
    border-radius: 0px 0px 0px 10px;
}

.eight{
    border-radius: 0px 0px 10px 0px;
}

.vacant:hover{
    background-color: #77ff8e;
    cursor: pointer;
}

.occupied:hover{
    background-color: #fd5a5a;
}

.endgame:hover{
    background-color: none;
}

.marker{
    font-size: 4vh;
    pointer-events: none
}

.blur {
    filter: blur(4px);
  }

.win{
    position: absolute;
    height: 21vh;
    width: 21vh;
    font-size: 20vh;
    color: #ff3a3a;
    line-height: 70%;
    display: none;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    animation: fadeIn 1s;
}

    @keyframes fadeIn {
        from {
          opacity: 0;
        }
      
        to{
          opacity: 1;
        }
      }

      .reset-button {
        margin-top: 4vh;
        /* margin: 10px; */
      }
      
        
      
.horizontal{
    z-index: 1;
    top: 10.4vh;
    left: 2vh;
    background-color: #d81010;
    position: absolute;
    height: 1.5vh;
    width: 5vh;
    border-radius: 7.5px;
    animation:growHorizontal 1.5s linear forwards;
}

@keyframes growHorizontal{
    to {
        width: 59vh;
    }
}

.vertical{
    z-index: 1;
    left: 9.75vh;
    top: 2.25vh;
    background-color: #d81010;
    position: absolute;
    height: 1.5vh;
    width: 1.5vh;
    border-radius: 7.5px;
    animation:growVertical 1.5s linear forwards;
}


@keyframes growVertical{
    to {
        height: 60vh;
    }
}

.diagonal-rtl{
    height: 1.5vh;
    width: 1.5vh;
    background-color: #d81010;
    transform: rotate(135deg);
    transform-origin:left;
    z-index: 1;
    left:17vh;
    top: 3.75vh;
    position: absolute;
    border-radius: 7.5px;
    animation:growDiagonal 1.5s linear forwards;
}

.diagonal-ltr{
    height: 1.5vh;
    width: 1.5vh;
    background-color: #d81010;
    transform: rotate(45deg);
    transform-origin:left;
    z-index: 1;
    left: 4vh;
    top: 3.75vh;
    position: absolute;
    border-radius: 7.5px;
    animation:growDiagonal 1.5s linear forwards;
}

@keyframes growDiagonal{
    to {
        width: 78vh;
    }
}


@media only screen and (max-width: 850px){
    .child{
        height: 120px;
        width: 120px;
        position: relative;
    }

    .childchild{
        height: 33px;
        width: 33px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding: .3vh; */
        transition: background-color 0.15s ease-in-out;
    }

    .smallBoard-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 10px;
        position: absolute;
    }

    .marker{
        font-size: 20px;
        pointer-events: none
    }

    .win{
        position: absolute;
        height: 120px;
        width: 120px;
        font-size: 110px;
        color: #ff3a3a;
        line-height: 70%;
        display: none;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        animation: fadeIn 1s;
        margin-top: 10px;
    }

    .horizontal{
        z-index: 1;
        top: 55px;
        left: 17px;
        background-color: #d81010;
        position: absolute;
        height: 10px;
        width: 0;
        border-radius: 7.5px;
        animation:growHorizontal 1.5s linear forwards;
    }
    
    @keyframes growHorizontal{
        to {
            width: 325px;
        }
    }

    .vertical{
        z-index: 1;
        left: 55px;
        top: 15px;
        background-color: #d81010;
        position: absolute;
        height: 0;
        width: 12px;
        border-radius: 7.5px;
        animation:growVertical 1.5s linear forwards;
    }
    
    
    @keyframes growVertical{
        to {
            height: 330px;
        }
    }

    .diagonal-rtl{
        height: 10px;
        width: 0;
        background-color: #d81010;
        transform: rotate(135deg);
        transform-origin:left;
        z-index: 1;
        left:105px;
        top: 12px;
        position: absolute;
        border-radius: 7.5px;
        animation:growDiagonal 1.5s linear forwards;
    }
    
    .diagonal-ltr{
        height: 10px;
        width: 0;
        background-color: #d81010;
        transform: rotate(45deg);
        transform-origin:left;
        z-index: 1;
        left: 20px;
        top: 15px;
        position: absolute;
        border-radius: 7.5px;
        animation:growDiagonal 1.5s linear forwards;
    }
    @keyframes growDiagonal{
        to {
            width: 460px;
        }
    }
    
}


