*,*::before,*::after {
  box-sizing: border-box;
}

body {
  background-color: #282c34;
color: white;
}

.body-wrapper{
  display: block;
  display: flex;
  justify-content: center;
}

.board-wrapper{
  height: 70vh;
  width: 70vh;
}