*,*::before,*::after {
  box-sizing: border-box;
}

.body-wrapper{
  display: block;
  display: flex;
  justify-content: center;
}

.board-wrapper{
  height: 70vh;
  width: 70vh;
}

.app-modal{
  display: none;
}