#opponent-text {
color: #FF7920;
}

.header-container{
    padding: 10px;
    /* border: 1px solid black;
    border-radius: 5px; */
    display: flex;
    justify-content: space-between;
}

.title{
    margin: 0;
}

.logo{
    display: flex;
    align-items: center;
}

.header-fullscreen-gameOptions{
    display: flex;
    /* align-items: center; */
}

#opponent-text{
    margin-left: 3px;
    margin-bottom: 12px;
}

.header-changeGamemode{
    outline: none;
    border: 4px solid ;
    padding: 11px;
    font-size: 1rem;
    font-weight: bold;
    background: none;
    transition: all 0.2s ease-in-out;
    border-radius: 7.5px;
    margin-left:10px;
}

.header-hamburger-menu{
    margin-right: 10px;
}

.header-userOptions{
display: flex;
}

.header-id{
    font-size:larger;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-right: 10px;
    /* border: 4px solid black;
    border-radius:7.5px; */
    padding: 0 10px;
}

.header-search{
    border: 4px solid black;
    border-radius:7.5px;
}


.header-searchInput{
    all: unset;
    border-radius: 7.5px 0 0 7.5px;
    padding: 10px;
}

.header-searchButton{
    all: unset;
    border-left: 4px solid ;
    padding: 11px;
    /* font-size: 1rem; */
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    /* border-radius: 7.5px; */
}

::placeholder {
/* text-align: center; */
    left: 5px;
    position: relative;
  }

.header-mobile-gameOptions,.header-logo-short{
    display: none;
}

.header-logo-long{
    display: block;
}

@media only screen and (max-width: 850px){
    #opponent-text{
        /* margin-left: 3px; */
        /* margin-bottom: 12px; */
        margin-top: 10px;
    }

    .header-mobile-gameOptions{
        display: block;
    }

    .header-fullscreen-gameOptions,.header-logo-long{
        display: none;
    }

    .header-logo-short{
        display: block;
    }
}